body {
    background-image: url("andrea-belussi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
    
    font-family: 'Helvetica Neue', Roboto, BlinkMacSystemFont,  Oxygen, Ubuntu, Cantarell, 'Open Sans',  sans-serif;
    font-weight: bold;
    text-align: center;
     max-width: 1100px;
     max-height: 100px;
     color: #104F92
}

#counter {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px

}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 0 0 5px white;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 0 0 5px white;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #F0F4F6;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background-image: linear-gradient(to right, #34C1ED, #44D371);
    
}

#save-btn {
    background-image: linear-gradient(to right, #138ED6, #104F92);
}

#save-el {
    text-shadow: 0 0 5px white;
}


/* {"Steel Azure":"104F92","Emerald":"44D371","Sky Surge":"34C1ED","Steel Blue":"0580D6","Platinum":"F0F4F6"} */